In [76]:
                                    # Running Kaggle Titanic problem on H2O library

In [77]:
# Initialize H2O Environment

import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O cluster uptime:         1 hour 40 mins
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.11
H2O cluster version age:    11 days
H2O cluster name:           H2O_from_python_prashant_v1dffh
H2O cluster total nodes:    1
H2O cluster free memory:    691 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.3 final
--------------------------  ---------------------------------------------------------

In [78]:
# Load data into H2O

dataset_train = h2o.import_file("train.csv")
dataset_test = h2o.import_file("test.csv")
print (dataset_train,"\n\n")
print (dataset_test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,nan,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,nan,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,nan,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S
6,0,3,"Moran, Mr. James",male,nan,0,0,330877,8.4583,,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C

PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,,S
894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q
895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3.1013e+06,12.2875,,S
897,3,"Svensson, Mr. Johan Cervin",male,14,0,0,7538,9.225,,S
898,3,"Connolly, Miss. Kate",female,30,0,0,330972,7.6292,,Q
899,2,"Caldwell, Mr. Albert Francis",male,26,1,1,248738,29,,S
900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,0,2657,7.2292,,C
901,3,"Davies, Mr. John Samuel",male,21,2,0,nan,24.15,,S

In [79]:
# Use asfactor to understand we need output for classification problem
dataset_train['Survived'] = dataset_train['Survived'].asfactor()

In [80]:
# Creating final  x  and  y  for prediction
y = "Survived"
x = dataset_train.columns
x.remove(y)
print (x)

['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [81]:
# Map data to x   and  y   with maximum model values
aml = H2OAutoML(max_models = 10, seed = 1)
aml.train(x = x, y = y, training_frame = dataset_train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [82]:
# Getting all the models with accuracies (AUC)
lb = aml.leaderboard
print (lb)

model_id,auc,logloss,mean_per_class_error,rmse,mse
XRT_1_AutoML_20191217_161722,0.868578,0.441418,0.190825,0.367021,0.134704
GBM_3_AutoML_20191217_161722,0.864248,0.428586,0.192935,0.366176,0.134085
DRF_1_AutoML_20191217_161722,0.863785,0.522006,0.196889,0.373624,0.139595
StackedEnsemble_BestOfFamily_AutoML_20191217_161722,0.863273,0.419926,0.193917,0.361288,0.130529
GBM_1_AutoML_20191217_161722,0.86293,0.425324,0.189555,0.362703,0.131553
GBM_4_AutoML_20191217_161722,0.861827,0.436516,0.194229,0.368615,0.135877
StackedEnsemble_AllModels_AutoML_20191217_161722,0.861021,0.420362,0.194492,0.361555,0.130722
GBM_2_AutoML_20191217_161722,0.860171,0.443803,0.200508,0.374412,0.140184
DeepLearning_1_AutoML_20191217_161722,0.858408,0.447515,0.202761,0.373757,0.139694
GLM_grid_1_AutoML_20191217_161722_model_1,0.851439,0.449135,0.210982,0.378046,0.142919

In [83]:
# Getting all information for the best model (accuracies,feature importance)
print (aml.leader)

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  XRT_1_AutoML_20191217_161722


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,48.0,48.0,79106.0,13.0,20.0,17.125,94.0,141.0,120.875

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: 0.12634852198894778
RMSE: 0.3554553727107635
LogLoss: 0.6349079070976523
Mean Per-Class Error: 0.1721551145623621
AUC: 0.8736432002897346
pr_auc: 0.7822178161119736
Gini: 0.7472864005794693

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.484375:

              0      1   Error            Rate
0      0  490.0   59.0  0.1075    (59.0/549.0)
1      1   81.0  261.0  0.2368    (81.0/342.0)
2  Total  571.0  320.0  0.1571   (140.0/891.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.484375    0.788520  180.0
1                        max f2   0.278633    0.812535  238.0
2                  max f0point5   0.640515    0.839637  132.0
3                  max accuracy   0.566667    0.850730  153.0
4                 max precision   0.989011    0.970588    8.0
5                    max recall   0.000000    1.000000  399.0
6               max specificity   1.000000    0.996357    0.0
7              max absolute_mcc   0.566667    0.680859  153.0
8    max min_per_class_accuracy   0.375000    0.821494  211.0
9   max mean_per_class_accuracy   0.484375    0.827845  180.0
10                      max tns   1.000000  547.000000    0.0
11                      max fns   1.000000  320.000000    0.0
12                      max fps   0.000000  549.000000  399.0
13                      max tps   0.000000  342.000000  399.0
14                      max tnr   1.000000    0.996357    0.0
15                      max fnr   1.000000    0.935673    0.0
16                      max fpr   0.000000    1.000000  399.0
17                      max tpr   0.000000    1.000000  399.0

Gains/Lift Table: Avg response rate: 38.38 %, avg score: 38.88 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.026936,1.000000,2.388158,2.388158,0.916667,1.000000,0.916667,1.000000,0.064327,0.064327,138.815789,138.815789
1,,2,0.031425,0.999137,2.605263,2.419173,1.000000,0.999148,0.928571,0.999878,0.011696,0.076023,160.526316,141.917293
2,,3,0.042649,0.998739,2.605263,2.468144,1.000000,0.998859,0.947368,0.999610,0.029240,0.105263,160.526316,146.814404
3,,4,0.054994,0.998179,2.605263,2.498926,1.000000,0.998294,0.959184,0.999315,0.032164,0.137427,160.526316,149.892589
4,,5,0.101010,0.946342,2.351091,2.431579,0.902439,0.978199,0.933333,0.989695,0.108187,0.245614,135.109114,143.157895
5,,6,0.151515,0.888889,2.373684,2.412281,0.911111,0.919671,0.925926,0.966354,0.119883,0.365497,137.368421,141.228070
6,,7,0.200898,0.794118,2.309211,2.386945,0.886364,0.840262,0.916201,0.935359,0.114035,0.479532,130.921053,138.694502
7,,8,0.304153,0.600000,2.067220,2.278404,0.793478,0.683223,0.874539,0.849763,0.213450,0.692982,106.721968,127.840357
8,,9,0.404040,0.400000,1.053814,1.975658,0.404494,0.492331,0.758333,0.761398,0.105263,0.798246,5.381431,97.565789
9,,10,0.500561,0.263235,0.605875,1.711529,0.232558,0.331086,0.656951,0.678423,0.058480,0.856725,-39.412485,71.152938
10,,11,0.600449,0.179144,0.234181,1.465765,0.089888,0.216751,0.562617,0.601621,0.023392,0.880117,-76.581904,46.576488
11,,12,0.701459,0.111111,0.434211,1.317221,0.166667,0.144895,0.505600,0.535853,0.043860,0.923977,-56.578947,31.722105
12,,13,0.809203,0.062500,0.189967,1.167129,0.072917,0.081808,0.447989,0.475398,0.020468,0.944444,-81.003289,16.712899
13,,14,0.900112,0.014219,0.321637,1.081736,0.123457,0.041852,0.415212,0.431611,0.029240,0.973684,-67.836257,8.173645
14,,15,1.000000,0.000000,0.263454,1.000000,0.101124,0.002817,0.383838,0.388779,0.026316,1.000000,-73.654642,0.000000

ModelMetricsBinomial: drf
** Reported on cross-validation data. **

MSE: 0.13470442946599445
RMSE: 0.3670210204688479
LogLoss: 0.4414181732888283
Mean Per-Class Error: 0.19082542421627835
AUC: 0.8685781697717274
pr_auc: 0.7998551942141106
Gini: 0.7371563395434548

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6009999993443489:

              0      1   Error            Rate
0      0  500.0   49.0  0.0893    (49.0/549.0)
1      1  100.0  242.0  0.2924   (100.0/342.0)
2  Total  600.0  291.0  0.1672   (149.0/891.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.601000    0.764613  138.0
1                        max f2   0.284871    0.806893  237.0
2                  max f0point5   0.655017    0.808298  120.0
3                  max accuracy   0.601000    0.832772  138.0
4                 max precision   1.000000    1.000000    0.0
5                    max recall   0.001770    1.000000  396.0
6               max specificity   1.000000    1.000000    0.0
7              max absolute_mcc   0.601000    0.641226  138.0
8    max min_per_class_accuracy   0.410127    0.794171  194.0
9   max mean_per_class_accuracy   0.601000    0.809175  138.0
10                      max tns   1.000000  549.000000    0.0
11                      max fns   1.000000  326.000000    0.0
12                      max fps   0.000000  549.000000  399.0
13                      max tps   0.001770  342.000000  396.0
14                      max tnr   1.000000    1.000000    0.0
15                      max fnr   1.000000    0.953216    0.0
16                      max fpr   0.000000    1.000000  399.0
17                      max tpr   0.001770    1.000000  396.0

Gains/Lift Table: Avg response rate: 38.38 %, avg score: 40.54 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.017957,1.000000,2.605263,2.605263,1.000000,1.000000,1.000000,1.000000,0.046784,0.046784,160.526316,160.526316
1,,2,0.025814,0.999064,2.605263,2.605263,1.000000,0.999064,1.000000,0.999715,0.020468,0.067251,160.526316,160.526316
2,,3,0.038159,0.998351,2.605263,2.605263,1.000000,0.998461,1.000000,0.999309,0.032164,0.099415,160.526316,160.526316
3,,4,0.041526,0.996532,2.605263,2.605263,1.000000,0.996582,1.000000,0.999088,0.008772,0.108187,160.526316,160.526316
4,,5,0.058361,0.980000,2.605263,2.605263,1.000000,0.982911,1.000000,0.994422,0.043860,0.152047,160.526316,160.526316
5,,6,0.101010,0.942706,2.331025,2.489474,0.894737,0.964267,0.955556,0.981690,0.099415,0.251462,133.102493,148.947368
6,,7,0.150393,0.881556,2.486842,2.488610,0.954545,0.913609,0.955224,0.959335,0.122807,0.374269,148.684211,148.860958
7,,8,0.200898,0.793333,2.315789,2.445163,0.888889,0.837897,0.938547,0.928806,0.116959,0.491228,131.578947,144.516319
8,,9,0.300786,0.647500,1.727085,2.206697,0.662921,0.713851,0.847015,0.857422,0.172515,0.663743,72.708457,120.669678
9,,10,0.400673,0.484656,1.112360,1.933879,0.426966,0.568670,0.742297,0.785436,0.111111,0.774854,11.235955,93.387881
10,,11,0.500561,0.300463,0.790361,1.705688,0.303371,0.383350,0.654709,0.705199,0.078947,0.853801,-20.963927,70.568799
11,,12,0.600449,0.177900,0.321999,1.475504,0.123596,0.228592,0.566355,0.625913,0.032164,0.885965,-67.800118,47.550418
12,,13,0.700337,0.111353,0.409817,1.323507,0.157303,0.140251,0.508013,0.556644,0.040936,0.926901,-59.018332,32.350709
13,,14,0.800224,0.071667,0.234181,1.187532,0.089888,0.093372,0.455820,0.498816,0.023392,0.950292,-76.581904,18.753229
14,,15,0.900112,0.030571,0.234181,1.081736,0.089888,0.049410,0.415212,0.448944,0.023392,0.973684,-76.581904,8.173645
15,,16,1.000000,0.000000,0.263454,1.000000,0.101124,0.013319,0.383838,0.405431,0.026316,1.000000,-73.654642,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.8271546,0.048253376,0.8324022,0.8707865,0.7696629,0.8764045,0.78651685
1,auc,0.8688013,0.046812385,0.8920906,0.89791256,0.7906417,0.9033032,0.8600585
2,err,0.1728454,0.048253376,0.16759777,0.12921348,0.23033708,0.123595506,0.21348314
3,err_count,30.8,8.58487,30.0,23.0,41.0,22.0,38.0
4,f0point5,0.780508,0.079276755,0.7758621,0.84985834,0.7012195,0.8712121,0.70438796
5,f1,0.7766033,0.055400886,0.7826087,0.83916086,0.6917293,0.80701756,0.7625
6,f2,0.77667844,0.061904874,0.7894737,0.8287293,0.68249255,0.751634,0.8310627
7,lift_top_group,2.6098633,0.12274331,2.6323528,2.4383562,2.6176472,2.78125,2.5797102
8,logloss,0.44147918,0.102654,0.3871207,0.38024515,0.61653745,0.3728012,0.4506914
9,max_per_class_error,0.25279465,0.05936991,0.20588236,0.1780822,0.32352942,0.28125,0.27522936
10,mcc,0.641978,0.09490299,0.64647144,0.7317087,0.5083516,0.72995156,0.5934068
11,mean_per_class_accuracy,0.81728876,0.042507175,0.82498676,0.86333984,0.75187165,0.84183115,0.80441433
12,mean_per_class_error,0.18271126,0.042507175,0.17501324,0.13666014,0.24812834,0.15816885,0.1955857
13,mse,0.13471675,0.03210276,0.12373901,0.11535204,0.18824846,0.10743244,0.13881181
14,precision,0.7853187,0.103367105,0.7714286,0.85714287,0.7076923,0.92,0.6703297
15,r2,0.42984116,0.13538003,0.47473216,0.52318144,0.20261176,0.5334582,0.4152223
16,recall,0.7790628,0.082537845,0.7941176,0.82191783,0.6764706,0.71875,0.884058
17,rmse,0.36512405,0.041850608,0.35176557,0.33963516,0.43387607,0.32776886,0.37257457
18,specificity,0.8555147,0.08983993,0.8558559,0.9047619,0.8272727,0.9649123,0.72477067

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2019-12-17 16:17:31,0.523 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2019-12-17 16:17:31,0.538 sec,5.0,0.428479,4.706407,0.804417,0.259220,2.040405,0.227387
2,,2019-12-17 16:17:31,0.552 sec,10.0,0.388279,2.593741,0.841491,0.473203,2.201631,0.187571
3,,2019-12-17 16:17:31,0.565 sec,15.0,0.374415,1.851215,0.855213,0.600072,2.233083,0.177728
4,,2019-12-17 16:17:31,0.579 sec,20.0,0.365611,1.481486,0.866016,0.647877,2.188421,0.164983
5,,2019-12-17 16:17:31,0.592 sec,25.0,0.360495,1.234552,0.871033,0.689591,2.084211,0.157127
6,,2019-12-17 16:17:31,0.606 sec,30.0,0.352637,0.976490,0.877225,0.710409,2.267544,0.143659
7,,2019-12-17 16:17:31,0.623 sec,35.0,0.354131,0.811176,0.875483,0.748710,2.323613,0.152637
8,,2019-12-17 16:17:31,0.637 sec,40.0,0.355729,0.706744,0.874141,0.773238,2.412281,0.158249
9,,2019-12-17 16:17:31,0.652 sec,45.0,0.354402,0.633206,0.873928,0.781196,2.396842,0.158249
10,,2019-12-17 16:17:31,0.661 sec,48.0,0.355455,0.634908,0.873643,0.782218,2.388158,0.157127

Variable Importances:

      variable  relative_importance  scaled_importance  percentage
0          Sex          1614.253174           1.000000    0.239226
1        Cabin          1348.963745           0.835658    0.199912
2          Age           852.600830           0.528170    0.126352
3  PassengerId           731.617737           0.453224    0.108423
4         Fare           659.897339           0.408794    0.097794
5       Ticket           557.341797           0.345263    0.082596
6       Pclass           472.751343           0.292861    0.070060
7        SibSp           193.936676           0.120140    0.028741
8        Parch           171.933945           0.106510    0.025480
9     Embarked           144.507996           0.089520    0.021416

In [84]:
# Predict on test data
preds = aml.predict(dataset_test)

drf prediction progress: |████████████████████████████████████████████████| 100%

In [75]:
# Generate final submission data
dataset_submission = h2o.import_file("submission.csv")
frame = preds['predict']
dataset_submission['Survived']=frame
print(dataset_submission)

Parse progress: |█████████████████████████████████████████████████████████| 100%

PassengerId,Survived
892,0
893,0
894,0
895,0
896,1
897,0
898,0
899,0
900,1
901,0

In [85]:
# Generate final submission file 
h2o.download_csv(dataset_submission,"h2o_submission.csv")

'C:\\Users\\Vijay Patil\\Desktop\\ML\\h2o\\Kaggle Titanic problem\\h2o_submission.csv'

In [86]:
# Generate final model which we can use for the deployment part
h2o.save_model(aml.leader, path = "h2o_first_prediction")

'C:\\Users\\Vijay Patil\\Desktop\\ML\\h2o\\Kaggle Titanic problem\\h2o_first_prediction\\XRT_1_AutoML_20191217_161722'